
<h1>Listing lists</h1>
<h1>Hello, Rails!</h1>
<%= link_to 'My socio', controller: 'lists' %>
<%= link_to 'New list', new_list_path %> 
<table>
  <tr>
    <th>Name</th>
    <th>typeofitem</th> 
    <th>cost_per_day</th>
    <th>transaction_type</th> 
    <th>startdate</th>
    <th>enddate</th> 
    <th colspan="3"></th>
  </tr>
 
  <% @lists.each do |list| %>
    <tr>
      <td><%= list.name %></td>
      <td><%= list.categorymain_id %></td>
      <td><%= list.cost_per_day %></td> 
      <td><%= list.trans %></td>
      <td><%= list.start_d %></td> 
      <td><%= list.end_d %></td>
      <td><%= link_to 'Book yout item', new_list_accept_path(list.id) %> </td>
      <td><%= link_to 'Destroy',list_path(list),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
   </tr>
  <% end %>
