<h1><center>Welcome to socio</h1>

<%= form_for :list, url: lists_path do |f| %>
 <p>
    <%= f.label :name %><br>
    <%= f.text_field :name,:autocomplete => :off%>
  </p>
  <p>
    <%= f.label :type_of_item %><br>
    <%= f.select "categorymain_id", options_from_collection_for_select(Category.all, :id, :name), {:class=>'form-control', :prompt => 'select any one' }  %>  
      </p>
  
   <p>
    <%= f.label :Transaction_Type%><br>
    <%= f.select :trans,[ 'Lend', 'Borrow'],{},:class => 'form-control' %>
  </p>
  <p>
    <%= f.label :cost_per_day %><br>
    <%= f.text_field :cost_per_day, :autocomplete => :off %>
  </p>
   <p>
    <%= f.label :start_date%><br>
   <%= f.date_field :start_d,:autocomplete => :off%>
  </p>
   <p>
    <%= f.label :end_date %><br>
    <%= f.date_field :end_d,:autocomplete => :off%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

x