<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>
 
<p>
  <strong>type of item:</strong>
      <%= @category.name %>
</p>
 <p>
  <strong>cost per day:</strong>
  <%= @list.cost_per_day %>
</p>
 <p>
  <strong>transaction type:</strong>
  <%= @list.trans%>
</p>
 <p>
  <strong>start date:</strong>
  <%= @list.start_d %>
</p>
<p>
  <strong>end date:</strong>
  <%= @list.end_d %>
</p>
 