<h1><center>Booked Item's Details</h1>
<table>
  <tr>
    <th>startdate</th>
    <th>enddate</th> 
    <th colspan="3"></th>
  </tr>
 
  <% @list.accept.each do |accept| %>
    <tr>
      <td><%= accept.start_d %></td> 
      <td><%= accept.end_d %></td>
      <td><%= accept.list_id %></td>
   </tr>
  <% end %>
