<h1><center>Book Your Item</h1>
<%= form_for :accept, url: list_accepts_path do |f| %>
 <% if @accept.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@accept.errors.count, "error") %> prohibited
        this accept from being saved:
      </h2>
      <ul>
        <% @accept.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>Already booked dates
  <%=@list.accept.pluck(:start_d,:end_d) %></p>
    <p>
      <%= f.hidden_field :list_id %>
  </p>    
   <p>
    <%= f.label :start_date%><br>
     <%= f.date_field :start_d%>  </p>
   <p>
    <%= f.label :end_date %><br>
    <%= f.date_field :end_d,:autocomplete => :off%>
  </p>
  
  <p>

    <%= f.submit %>
  </p>
<% end %>