 <p>
  <strong>start date:</strong>
  <%= @accept.start_d %>
</p>
<p>
  <strong>end date:</strong>
  <%= @accept.end_d %>
</p>
<p>
  <strong>list_id:</strong>
  <%= @accept.list_id %>
</p>
 